<!doctype html>
<html>
  <head>
    <title>Memory Field</title>

    <script src="/util/underscore.js"></script>
    <script src="/util/wonderscore.js"></script>
    <script src="/util/zepto.js"></script>
    <script src="/util/backbone.js"></script>
    <script src="/ux/app.js"></script>
    <script src="/ux/models/user.js"></script>
  </head>

  <body>
    <canvas id="map"></canvas>
    <% if (t.req.user) { %>
      <%- t.req.user.id %>
    <% } else { %>
      <a href="/auth/twitter">log in</a>
    <% } %>

    <script>
      UX.app = new UX.View.App({
        user: <%= JSON.stringify(t.req.user || null) %>
      });
    </script>
  </body>
</html>
